@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* customized style css */

:root {
  --body-fonts: "Open Sans", sans-serif;
  --text-fonts: "Poppins", sans-serif;
  --logo-fonts: "Cormorant Garamond", serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --point-color: #fcb69f;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

body {
  font-family: "Poppins", sans-serif;
}

.portofolio {
  color: #000;
  background: #fff;
}

.logo {
  font-size: 20px !important;
}

nav {
  min-height: 10vh !important;
  width: 90% !important;
  margin: auto !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 20px 0px !important;
  z-index: 2 !important;
}

nav ul {
  display: flex;
  justify-content: row;
  padding-right: 20px;
}

nav li {
  display: flex;
  padding-right: 30px;
}

nav a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  text-shadow: var(--shadow);
  letter-spacing: 2px;
}

.nav a:hover {
  text-decoration: none;
  color: var(--point-color);
  cursor: pointer;
  transition: linear all 0.3s;
  text-shadow: var(--shadow);
}

a {
  text-decoration: none;
  z-index: 5;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
  /* height: 500px; */
  /* align-self: center;
  justify-self: center;
  display: flex; */
}

.hero img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10vh;
  right: 0;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode: lighten;
  animation: reveal 1s ease forwards;
  opacity: 0;
}

.hero video {
  position: absolute;
  right: 0;
  top: 10vh;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: reveal 1s ease 0.5s forwards;
  opacity: 0;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.details {
  grid-column: 2/3;
  align-self: end;
  z-index: 2;
}

.details h1 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.details h2 {
  font-size: 42px;
  padding: 20px 0px;
}

.details p {
  font-size: 24px;
  padding: 20px 0px 50px 0px;
  letter-spacing: 2px;
}

.pages {
  z-index: 2;
  position: absolute;
  right: 5%;
  top: 50%;
  transition: translateY(-50%);
}

.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages h3 {
  font-size: 20px;
  padding: 30px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(2);
}

.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

@keyframes dot {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(4);
  }
}

.about-banner {
  height: 50vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.project-banner {
  height: 50vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.contact-banner {
  height: 50vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
} */

.about,
.project h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  font-size: 72px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  letter-spacing: 3px;
}

.story {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
  font-family: var(--body-fonts);
}

.story-description {
  width: 50%;
}

.story-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: var(--shadow);
}

.story-description p {
  padding: 20px 0px;
  font-size: 20px;
  letter-spacing: 2px;
}

.story-description li {
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 15px;
}

.profile img {
  margin-top: 23%;
  box-shadow: var(--shadow);
}

.icons {
  /* position: absolute;
  top: 120%;
  right: 10%;
  text-align: center;
  font-size: 25px;
  padding: 20px; */

  position: absolute;
  right: 5%;
  top: 145%;
  font-size: 25px;
  /* transition: translateY(-50%); */
}

.icons a {
  color: #000;
  text-decoration: none;
  padding: 20px;
}

.icons a:hover {
  color: var(--point-color);
  transition: linear all 0.3s;
}

/* project section  */

.project,
.work {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.project-description {
  width: 45%;
}

.project-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: var(--shadow);
}
.project-description h4 {
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: var(--shadow);
}

.project-description p {
  padding: 20px 0px;
  font-size: 20px;
  letter-spacing: 2px;
}

.project img {
  margin-top: 10%;
  width: 45%;
}

project-image img {
  display: flex;
  width: 40%;
  margin: auto;
}

/* contact section  */

.contact h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  font-size: 72px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  letter-spacing: 3px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.contact-description {
  width: 50%;
}

.contact-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: var(--shadow);
}
.contact-description h4 {
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: var(--shadow);
}

.contact-description p {
  padding: 20px 0px;
  font-size: 20px;
  letter-spacing: 2px;
}

/* form section  */

form {
  width: 40%;
  height: 50%;
  /* margin-top: 20%; */
  padding: 40px;
  color: #000;
  font-family: var(--body-fonts);
  font-size: 1rem;
  flex-direction: column;
  margin: auto;
}

input {
  padding: 10px;
  margin-bottom: 25px;
  width: 100%;
  background: #f8f9fa;
  border: solid 1px #dee2e6;
  border-radius: 3px;
  font-size: 1rem;
}

textarea {
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
  background: #f8f9fa;
  border: solid 1px #dee2e6;
  border-radius: 3px;
  font-size: 1rem;
}

.submit {
  width: 30%;
  height: 8vh;
  color: #fff;
  background: #000;
  outline: none;
  border-color: #000;
  letter-spacing: 2.5px;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
}

.submit:hover {
  color: #000;
  background: #fff;
  transition: linear all 0.3s;
  border: solid 0.1px #000;
  cursor: pointer;
}

.contact-icons {
  padding-right: 15%;
  padding-top: 20px;
  font-size: 24px;
}

.contact-icons a {
  color: #000;
  text-decoration: none;
  padding: 20px;
}

/* slide effect for project */

/* background */
.carousel-bg {
  background-color: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel-img img {
  margin: auto;
  margin-top: 100%;
  padding-top: 200px;
  width: 50%;
}

/* quote */
.quote-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 60px;
  width: 80px;
}
/* text-style */
.testimonial-style .testimonial-caption-style {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #354052;
  line-height: 30px;
  bottom: 100%;
  text-shadow: none;
  top: 0%;
}
.testimonial-style .testimonial-authors {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  color: #354052;
  line-height: 30px;
  margin-top: 40px;
}
/* carousel-height-control */
.testimonial-style .carousel-inner > .item {
  padding-top: auto;
  padding-bottom: auto;
  /* height: 380px; */
}
/* carousel-left-right-control */
.testimonial-style .carousel-control.left {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control.right {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control {
  color: #354052;
}
.testimonial-style .carousel-control:hover {
  color: #354052;
  text-decoration: none;
  transition: background-color 1s ease;
}
/* indicators */
.testimonial-style .carousel-indicators .active {
  background-color: #fff;
  width: 14px;
  height: 14px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.testimonial-style .carousel-indicators li {
  border: 2px solid #354052;
  background-color: #354052;
}

/* ------------------------------ */
/* Responsive web design */
@media (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }
  .hero {
    grid-column: 2/3;
    height: auto;
  }

  .hero img {
    height: 500px;
  }

  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }

  .details h1 {
    font-size: 48px;
  }
  .details h2 {
    font-size: 38px;
  }

  .story {
    flex-direction: column;
  }
  .story-description {
    width: 100%;
  }

  .profile {
    text-align: center;
  }

  .icons {
    top: 220%;
    right: 35%;
    position: absolute;
  }

  .work {
    flex-direction: column;
  }
  .project-description {
    width: 100%;
  }

  .project-image img {
    width: 100%;
  }

  .contact {
    flex-direction: column;
  }

  .contact-description {
    width: 100%;
  }

  .contact form {
    margin-top: 20%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .page {
    grid-template-rows: 1fr 1fr;
  }

  .hero img {
    height: 300px;
  }

  .details h1 {
    font-size: 38px;
  }

  .details h2 {
    font-size: 28px;
  }

  .icons {
    top: 230%;
    right: 30%;
    position: absolute;
  }
}
