:root {
  --body-fonts: "Open Sans", sans-serif;
  --text-fonts: "Poppins", sans-serif;
  --logo-fonts: "Cormorant Garamond", serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --third-color: #ece2df;
  --point-color: #fcb69f;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* ------------------------------ */
/* Responsive web design */
@media screen and (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }
  .hero {
    grid-column: 2/3;
    height: auto;
  }

  .hero img {
    height: 400px;
    width: 300px;
  }

  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }

  .details h1 {
    font-size: 48px;
  }
  .details h2 {
    font-size: 38px;
  }

  .story {
    flex-direction: column;
  }
  .story-description {
    width: 100%;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
  }

  .icons {
    display: flex;
    position: absolute;
    font-size: 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
  }

  .work,
  .project {
    flex-direction: column;
  }

  .metif {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }

  .project-details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    width: 100%;
  }
  .project-description {
    width: 100%;
  }

  .project-img img {
    width: 850px;
    grid-column: 2/3;
    height: auto;
    align-self: center;
  }

  .contact {
    flex-direction: column;
  }

  .contact-description {
    width: 100%;
  }

  .contact form {
    margin-top: 20%;
    width: 100%;
  }

  .metif,
  .flixter,
  .yelp,
  .colorme {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
  }

  .hero img {
    height: 300px;
  }

  .details h1 {
    font-size: 38px;
  }

  .details h2 {
    font-size: 28px;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
  }

  .icons {
    display: flex;
    position: absolute;
    font-size: 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
  }

  .project-details {
    grid-template-rows: 1fr 1fr;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .project-description {
    width: 100%;
  }

  .project-image img {
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: auto;
    align-self: center;
    /* grid-row: 2/3;
    grid-column: 2/3; */
  }

  .project--image img {
    margin-top: 10px;
  }

  .nav-links {
    position: fixed;
    background: var(--point-color);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 5;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
  }

  .nav-links.open {
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(1400px at 90% -20%);
  }

  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    color: #000;
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li.fade {
    opacity: 1;
  }

  .line1 {
    width: 38px;
    height: 3px;
    background: #000;
    margin: 5px;
  }

  .line2 {
    width: 28px;
    height: 3px;
    background: #000;
    margin: 5px;
  }

  .line3 {
    width: 18px;
    height: 3px;
    background: #000;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    z-index: 7;
    transform: translate(-5%, -50%);
  }

  .flower-img {
    top: 160px;
    left: 0;
    position: absolute;
    width: 150px;
  }

  .flower-img2 {
    top: 5px;
    right: 0;
    position: absolute;
    width: 150px;
    transform: rotate(180deg);
  }

  .metifkorea-project h2 {
    margin-top: 20%;
    font-size: 40px;
  }
  .metifkorea-project-text p {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
  }

  .metif-image {
    margin-top: 0px;
  }

  .about-banner,
  .project-banner,
  .contact-banner,
  .resume-banner {
    width: 100%;
    height: 20vh;
    /* margin-top: 10%; */
  }

  .about,
  .project,
  .contact h1 {
    font-size: 55px;
    margin: 5px;
  }
  .resume h1 {
    font-size: 55px;
    margin: 5px;
  }

  .logo-img {
    margin: 10px;
  }
}

@media only screen and (max-width: 414px) {
}

@media only screen and (max-width: 375px) {
}
